<section id="list-table">
	<div class="list-row list-head">
		<div class="list-col"></div><div class="list-col">{{ TITLE }}</div>
	</div>
	<!--
	<div class="list-row list-item">
		<div class="list-col task-checked"></div><div class="list-col task-done" draggable="true">New task to do</div><div class="list-col delete-unactive"></div>
	</div>
	<div class="list-row list-item">
		<div class="list-col task-unchecked"></div><div class="list-col task-todo" draggable="true">Make me feel good</div><div class="list-col delete-active"></div>
	</div>
	<div class="list-row list-item">
		<div class="list-col task-checked"></div><div class="list-col task-done" draggable="true">Ok, I'm fine</div><div class="list-col delete-unactive"></div>
	</div>
	-->
	<div class="list-row list-item">
		<div class="list-col task-new"></div><input type="text" class="list-col"></input>
	</div>
</section>